<div class="main-profile-container">
    <div class="user-data">
        <img src="{{user.imgPath}}" alt="">
        <div class="container name-container">
            <h1>{{user.username}}</h1>
            <div>
                <div class="bar">
                    <h3 class="absolute"> <i class="fas fa-heart"></i> {{user.hp}} / 50</h3>
                    <div class="life-bar" style="width:{{user.bar}}%"></div>
                </div>
                <div class="bar">
                    <h3 class="absolute"> exp {{user.exp}}</h3>
                    <div class="life-bar blue" style="width:{{user.exp}}%"></div>
                </div>
            </div>
        </div>
    </div>
    <h5>{{user.motivSentence}}</h5>
</div>

<section class="container profile-challenges-section">
    <h2>Personal Challenges</h2>
    <div>
        {{#each user.personalChallenges}}
        <div class="profile-challenge-partial">
            {{>profilePersonalChallenge}}
        </div>
        {{/each}}
    </div>
</section>


<section class="container profile-challenges-section">
    <h2>Social Challenges</h2>
    <div>
        {{#each user.socialChallenges}}
        <div class="profile-challenge-partial">
            {{>profileSocialChallenges}}
        </div>
        {{/each}}
    </div>
</section>

{{>toolbar}}