<div class="user-data">
    <img src="{{user.imgPath}}" alt="">
    <div class="container name-container">
        <h1>{{user.username}}</h1>
        <h5>{{user.motivSentence}}</h5>
    </div>
</div>

<section id="stats-section">
    <p>hp: {{user.hp}} / 50</p>
    <p>Exp: {{user.exp}}</p>
</section>

<section class="container profile-challenges-section">
    <h2>Personal Challenges</h2>
    <div>
        {{#each user.personalChallenges}}
        <div class="profile-challenge-partial">
            {{>profilePersonalChallenge}}
        </div>
        {{/each}}
    </div>

    <a href="/priv/addPersonalChallenge"><i class="fas fa-plus"></i> Add a personal Challenge</a>
</section>

<section class="container profile-challenges-section">
    <h2>Social Challenges</h2>
    <div>
        {{#each user.socialChallenges}}
        <div class="profile-challenge-partial">
            {{>profileSocialChallenges}}
        </div>
        {{/each}}
    </div>

    <a href="/priv/socialChallenges"><i class="fas fa-plus"></i> See more social Challenges</a>
</section>

{{>toolbar}} 