<div class="main-profile-container">
    <div class="user-data">
        <img class="user-img" src="{{user.imgPath}}" alt="">
        <div class="container name-container">
            <h1>{{user.username}}</h1>
            <div>
                <div class="bar">
                    <h3 class="absolute"> <i class="fas fa-heart"></i> {{user.hp}} / 50</h3>
                    <div class="life-bar" style="width:{{user.bar}}%"></div>
                </div>
                <div class="bar">
                    <h3 class="absolute"> exp {{user.exp}}</h3>
                    <div class="life-bar blue" style="width:{{user.exp}}%"></div>
                </div>
            </div>
        </div>
    </div>
    <h5>{{user.motivSentence}}</h5>

    <div class="profile-buttons">
        <form action="/auth/logout" method="POST">
            <button class="yellow-button">Logout</button>
        </form>

        <form action="/priv/editProfile">
            <button class="yellow-button">Edit profile</button>
        </form>
    </div>
</div>

<section class="container profile-challenges-section">
    <h2>Personal Challenges ({{user.personalChallenges.length}})</h2>
    <div>
        {{#each user.personalChallenges}}
        <div class="profile-challenge-partial">
            {{>profilePersonalChallenge}}
        </div>
        {{else}}
        <a class="add-one" href="/priv/addPersonalChallenge">Add one</a>
        {{/each}}
    </div>
</section>


<section class="container profile-challenges-section scroll">
    <h2>Social Challenges ({{user.socialChallenges.length}})</h2>
    <div>
        {{#each user.socialChallenges}}
        <div class="profile-challenge-partial">
            {{>profileSocialChallenges}}
        </div>
        {{else}}
        <a class="add-one" href="/priv/socialChallenges">Add one</a>
        {{/each}}
    </div>
</section>

{{>toolbar}}